<div >
  <app-carousel></app-carousel>
  <div class="row">
    <div class="col-md-6 sf-grigio bianco text-center" >
      <br><br>
      <div class="txt-5 bianco grassetto">CHI SIAMO</div>
      <div class="txt-4 grigio-scuro light">A ROMA DA OLTRE 10 ANNI</div>
      <br>
      Qualità, professionalità, competenza, preparazione e oltre trent'anni di esperienza al servizio del cliente e della sua auto. Un servizio puntuale e completo, pensato per soddisfare ogni necessità di servizio, manutenzione o riparazione in modo impeccabile.
      <br><br>
      <a href="#" class="btn btn-bordo-bianco btn-lg" role="button">SCOPRI</a>
      <br><br><br>
    </div>
    <div class="col-md-6" id="BoxChiSiamoFoto" style="min-height: 260px;">
      <a href="#" style="display:block;width:100%;height:100%"></a>
    </div>
  </div>
  <div class="col-md-12 row">
    <div class="text-center">
      <br>
      <br>
      <br>
      <div class="txt-5 grigio-scuro grassetto">USATO GARANTITO</div>
      <div class="txt-4 light">SCOPRI TUTTE LE NOSTRE OCCASIONI</div>

      <br>
      <div class="light" style="font-size: 20px;" >
        Una vasta gamma di veicoli d'occasione tra cui scegliere, tutti rigorosamente controllati e garantiti, accompagnati da tutta l'esperienza e l'affidabilità Autostyle Service.
        <br>
        Sfoglia tutti gli annunci di auto usate e trova il veicolo perfetto per te.
      </div>

      <br>
      <br>
      <a href="#" class="btn btn-bordo btn-lg" role="button">VEDI TUTTI</a>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="col-md-12 row">
    <div class="text-center">

    </div>
  </div>
  <div class="row">
    <div class="col-md-2" style="min-height: 220px;" id="BoxMarchi1">

    </div><div class="col-md-2" style="min-height: 220px;" id="BoxMarchi2">

    </div><div class="col-md-2" style="min-height: 220px;" id="BoxMarchi3">

   </div>
    <div class="col-md-6 sf-grigio bianco text-center" >
      <br><br>
      <div class="txt-5 bianco grassetto">MARCHI</div>
      <div class="txt-4 grigio-scuro light">OFFICINA AUTORIZZATA</div>
      <br>
      Autostyle Service è officina autorizzata Jaguar, Land Rover e Isuzu. Manutenzione periodica, tagliandi, interventi di assistenza e riparazioni vengono svolti a cura di personale qualificato ed utilizzando ricambi originali.
      <br><br>
      <a href="#" class="btn btn-bordo-bianco btn-lg" role="button">SCOPRI</a>
      <br><br><br>
    </div>

  </div>
  <div class="col-md-12 row">
    <div class="text-center">
      <br>
      <br>
      <br>
      <div class="txt-5 grigio-scuro grassetto">AUTOSTYLE SERVICE</div>
      <div class="txt-4 light">VIA TIBURTINA 1248 - ROMA</div>

      <br>
      <div class="light" style="font-size: 20px;" >
        Una vasta gamma di veicoli d'occasione tra cui scegliere, tutti rigorosamente controllati e garantiti, accompagnati da tutta l'esperienza e l'affidabilità Autostyle Service.
        <br>
        Un unico grande centro autorizzato Land Rover, Jaguar, Isuzu e plurimarca, in cui trovare professionalità, assistenza, servizio e ricambi originali. Dalla manutenzione ordinaria alla carrozzeria, dalle revisioni all'aria condizionata, solo il meglio per la tua vettura.
      </div>
      <br>
      <br>
    </div>
  </div>
  <app-record-row-box></app-record-row-box>
  <div class="row" style="margin-top: 300px;">
    <div class="col-md-6 col-video-sx">
      <a href="https://www.youtube.com/watch?v=J8C-CDvfO8c" target="_blank">
        <img src="/assets/img/banner-video-1.jpg" class="img-fluid">
      </a>
    </div>
    <div class="col-md-6 col-video-dx">
      <a href="https://www.youtube.com/watch?v=olQ_hUiQE-g" target="_blank">
        <img src="/assets/img/banner-video-2.jpg" class="img-fluid">
      </a>
    </div>

  </div>
</div>
