<div class="card card-container" style="margin-top: 230px;">
  <img
    id="profile-img"
    src="/assets/img/logo%20small.png"
    class="profile-img-card"
  />
  <form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <label for="oldPassword"  id="myId">Vecchia Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.vecchiaPassword"
        required
        minlength="6"
        #oldPassword="ngModel"
      />
      <div class="alert-danger" *ngIf="oldPassword.errors && f.submitted">
        <div *ngIf="oldPassword.errors.required">Password is required</div>
        <div *ngIf="oldPassword.errors.minlength">
          Old Password must be at least 6 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
      />
      <div class="alert-danger" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="repeatPassword">Ripeti Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.repeatPassword"
        required
        minlength="6"
        #repeatPassword="ngModel"
      />
      <div class="alert-danger" *ngIf="repeatPassword.errors && f.submitted">
        <div *ngIf="repeatPassword.errors.required">Password is required</div>
        <div *ngIf="repeatPassword.errors.minlength">
          Repeated Password must be at least 6 characters
        </div>
      </div>
    </div>
<!--    <div class="form-group">-->
<!--      <button type="button"  class="btn btn-bordo btn-lg" role="button" style="margin-left: 12%;" (click)="onSubmit()">CAMBIO PASSWORD</button>-->
<!--    </div>-->
    <div class="form-group">
      <button   class="btn btn-bordo btn-lg" style="margin-left: 12%;" >CAMBIO PASSWORD</button>
    </div>


    <div class="alert alert-warning" *ngIf="f.submitted">
      Qualcosa e' andato storto!
    </div>
  </form>
  <div class="alert alert-success" *ngIf="isSuccessful">
    La tua password e' stata cambiata con successo.
  </div>
</div>
