<div href="#" class="list-group-item clearfix" style="margin-top: 8px;" (click)="onAutoClick()">
    <div class="pull-left"> <!-- class="pull-left" -->
        <!-- String interpolation-->
        <h4 class="list-group-item-heading">{{ auto.marca}}</h4>
        <p class="list-group-item-text">{{auto.modello}}</p>
        <p class="list-group-item-text">{{auto.targa}}</p>
        <p class="list-group-item-text">{{auto.anno}}</p>
        <p class="list-group-item-text">{{auto.colore}}</p>
    </div>
    <span class="pull-right">
        <button type="button" class="btn btn-danger" (click)="onAutoDelete()">Cancella auto</button>
    </span>

</div>
