<div >

  <footer class="bg-dark text-center text-white">
    <div class="base-container-fluid row">
      <div class="col-md-12 padding-80"></div>
      <div class="col-md-3">
        <br>
        <br>
        <br>
        <a href="#" class="menu-base">
          <img src="/assets/img/share.png" style="height: 36px;margin-left: 55%;">
        </a>
      </div>
      <div class="col-md-6 text-center" >
        <br>
        <br>
        <a href="#" >
          <img src="assets/img/logo.png">
        </a>
        <br>
        <br>
      </div>
      <div class="col-md-3">
        <br>
        <br>
        <span class="bianco">TELEFONO</span>
        <br>
        <a href="tel:+390761000000">
          <span class="bianco">0761000000</span>
        </a>
        <br>
        <a href="tel:+390761100000">
          <span class="bianco">0761100000</span>
        </a>
      </div>
      <div class="col-md-12 padding-80"></div>

    </div>
    <!-- Grid container -->
<!--    <div class="container p-4 pb-0">-->
<!--      &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--      <section class="mb-4">-->
<!--        &lt;!&ndash; Facebook &ndash;&gt;-->
<!--        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--        ><i class="fab fa-facebook-f"></i-->
<!--        ></a>-->

<!--        &lt;!&ndash; Twitter &ndash;&gt;-->
<!--        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--        ><i class="fab fa-twitter"></i-->
<!--        ></a>-->

<!--        &lt;!&ndash; Google &ndash;&gt;-->
<!--        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--        ><i class="fab fa-google"></i-->
<!--        ></a>-->

<!--        &lt;!&ndash; Instagram &ndash;&gt;-->
<!--        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--        ><i class="fab fa-instagram"></i-->
<!--        ></a>-->

<!--        &lt;!&ndash; Linkedin &ndash;&gt;-->
<!--        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--        ><i class="fab fa-linkedin-in"></i-->
<!--        ></a>-->

<!--        &lt;!&ndash; Github &ndash;&gt;-->
<!--        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--        ><i class="fab fa-github"></i-->
<!--        ></a>-->
<!--      </section>-->
<!--      &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--    </div>-->
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright: Elvin Iluca
    </div>
    <!-- Copyright -->
  </footer>
</div>
