.record-foto-box {
  transition: all .6s ease-in-out;
}

.record-foto-box {
  margin-top: 40px;
  height: 100%;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.col-md-3{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

a {
color: #58585a;
text-decoration: none;
background-color: transparent;
}
