<div class="row" >
  <div class="col-md-3 text-center">
    <a href="#" href="/" class="record-foto-box" style="background-image: url(/assets/img/box-1.jpg);"></a>
    <div class="record-sottotitolo-box grigio">SERVIZI</div>
    <a href="#" ><div class="record-titolo-box grigio-scuro">Una gamma di servizi completi per la tranquillità e la sicurezza della tua auto.</div></a>
    <br>
    <br>
    <div class="record-riga-box"></div>
    <a href="#" href="/">
      <div class="record-prezzo-box grigio">VAI ALLA PAGINA</div>
    </a>
  </div>
  <div class="col-md-3 text-center">
    <a href="#" href="/" class="record-foto-box" style="background-image: url(/assets/img/box-2.jpg);"></a>
    <div class="record-sottotitolo-box grigio">CENTRO REVISIONI</div>
    <a href="#" href="/" ><div class="record-titolo-box grigio-scuro">Revisioni senza prenotazione o lunghe attese. Perché per noi, il tuo tempo conta.</div></a>
    <br>
    <br>
    <div class="record-riga-box"></div>
    <a href="#" href="/" >
      <div class="record-prezzo-box grigio">VAI ALLA PAGINA</div>
    </a>
  </div>
  <div class="col-md-3 text-center">
    <a href="#" href="/" class="record-foto-box" style="background-image: url(/assets/img/box-3.jpg);"></a>
    <div class="record-sottotitolo-box grigio">PRENOTA INTERVENTO</div>
    <a href="#" href="/" ><div class="record-titolo-box grigio-scuro">La tua riparazione o il tuo tagliando in pochi click, a portata di mouse.</div></a>
    <br>
    <br>
    <div class="record-riga-box"></div>
    <a href="#" href="/" >
      <div class="record-prezzo-box grigio">VAI ALLA PAGINA</div>
    </a>
  </div>
  <div class="col-md-3 text-center">
    <a href="#" href="/" class="record-foto-box" style="background-image: url(/assets/img/box-4.jpg);"></a>
    <div class="record-sottotitolo-box grigio">CONTATTI</div>
    <a href="#" href="/" ><div class="record-titolo-box grigio-scuro">Uno staff di professionisti qualificati al tuo servizio. Contattaci ora.</div></a>
    <br>
    <br>
    <div class="record-riga-box"></div>
    <a href="#" href="/home" >
      <div class="record-prezzo-box grigio">VAI ALLA PAGINA</div>
    </a>
  </div>
</div>
