<div>
  <div id="ContainerFoto">
    <div class="col-md-12 text-center bianco">
      <div id="FotoTitolo" style="top: 170px;">OFFICINA AUTORIZZATA A ROMA</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>CHI SIAMO</h1>
      <h2>PUNTO DI RIFERIMENTO PER IL CENTRO ITALIA</h2>
    </div>
    <br><br>
    <div class="col-md-12">
      Autostyle Service nasce nel 1984 dai soci Bertollini Coclite, Baldini Vittorio e Rastrello Lamberto come officina autorizzata Land Rover, Austin Rover e plurimarca. Qualche anno dopo, nel 1990, Autostyle Service vede l'ingresso di un nuovo socio, Baldini Massimo.
      <br>
      Nel 2004 la società amplia la propria struttura con il trasferimento nella nuova sede di via Dell'Industria (loc. Poggino); qui, con una superficie di 1150 mq, un'attrezzatura all'avanguardia, 7 ponti, un centro revisioni autorizzato e un servizio pneumatici, Autostyle Service diventa in breve tempo punto di riferimento per tutto il centro Italia.
      <br>
      La struttura è inoltre dotata di un impianto fotovoltaico per l'approvigionamento dell'elettricità necessaria a tutte le attivita dell'autofficina, cui si aggiunge l'installazione di stazioni per la ricarica dei veicoli elettrici, entrambe scelte ecologiche segno di un'attenta politica energetica che testimoniano l'attenzione della società per le tematiche ambientali.
      <br>
      <br>
      <h3>
        Autostyle Service: officina, magazzino, revisioni e centro ricambi autorizzato
      </h3>

      Il magazzino ricambi offre massima professionalità con un servizio di consegna per officine e carrozzerie entro le 24h successive alla conferma dell'ordine.
      <br>

      Grazie alla preparazione del personale, estremamente qualificato, il servizio di accettazione è in grado di soddisfare qualsiasi esigenza del cliente, con appuntamenti gestiti in massimo di tre giorni lavorativi ed una vettura di cortesia disponibile per esigenze di mobilità del cliente stesso.
      <br><br>
      Il personale è sempre in continuo aggiornamento, sia sui modelli che sulle nuove tecnologie in uso, grazie anche alla frequenza di corsi di aggiornamento direttamente presso le strutture dei marchi rappresentati, a corsi di formazione e-learning a distanza e grazie all'ottenimento di certificazioni e attestati.
      <br>
      Oggi,
      <strong>
        Autostyle Service rappresenta i marchi Jaguar, Land Rover - Isuzu e plurimarca.
      </strong>
      La società ha inoltre adottato un'attenta politica di qualità come mezzo e strategia per il perseguimento dei propri obiettivi di miglioramento volti ad implementare la soddisfazione dei propri clienti.
      <br><br>
    </div>


  </div>
  <div class="row">
    <div class="col-md-3 gridElement">
      <a class="" href="assets/img/chisiamo1.jpg">
        <img class="imgElement" src="/assets/img/chisiamo1.jpg">
      </a>
    </div>
    <div class="col-md-3 gridElement">
      <a href="assets/img/chisiamo1.jpg">
        <img class="imgElement" src="/assets/img/chisiamo2.jpg">
      </a>
    </div>
    <div class="col-md-3 gridElement">
      <a href="assets/img/chisiamo1.jpg">
        <img class="imgElement" src="/assets/img/chisiamo3.jpg">
      </a>
    </div>
    <div class="col-md-3 gridElement">
      <a href="assets/img/chisiamo1.jpg">
        <img class="imgElement" src="/assets/img/chisiamo4.jpg">
      </a>
    </div>
    <div class="col-md-3 gridElement">
      <a href="assets/img/chisiamo1.jpg">
        <img class="imgElement" src="/assets/img/chisiamo5.jpg">
      </a>
    </div>
    <div class="col-md-3 gridElement">
      <a href="assets/img/chisiamo1.jpg">
        <img class="imgElement" src="/assets/img/chisiamo6.jpg">
      </a>
    </div>
    <div class="col-md-3 gridElement">
      <a href="assets/img/chisiamo1.jpg">
        <img class="imgElement" src="/assets/img/chisiamo7.jpg">
      </a>
    </div>
    <div class="col-md-3 gridElement">
      <a href="assets/img/chisiamo1.jpg">
        <img class="imgElement" src="/assets/img/chisiamo8.jpg">
      </a>
    </div>
  </div>
  <div style="height: 640px">
  <app-record-row-box></app-record-row-box>
  </div>
</div>
