<div class="row">
  
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{autoToShow?.marca}} {{autoToShow?.modello}}</h1>
    </div>
<div class="row">
    <div class="col-xs-12">
       
    </div>
</div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{autoToShow?.targa}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{autoToShow?.anno}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{autoToShow?.colore}}
    </div>
</div>
